<html>
   <head>
     <meta charset="utf-8">
     <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
</head> 

   </head>
   <body>

     <!-- ******************************************* -->
     <!-- Navigation Bar and Header -->
     <!-- ******************************************* -->

     <!-- followed by a responsive collapsing class: .navbar-expand-xl|lg|md|sm (stacks the navbar vertically on extra large, large, medium or small screens) -->
     
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" >
            <div class="navbar-header">
              <a href="/">
                <img src="/static/images/logo2.png" class="navbar-brand navbar-right navbar-collapse"style="width: 300px; height:100px;">
              </a>
            </div>
        </nav>
        <div class='w3-card-2 topnav notranslate' id="topnav">
            
          <div class='w3-card-2 topnav notranslate' id="topnav">
            <div style="overflow:auto;">
              <div class="jumbotron" style="width:100%;overflow:hidden; background-color: #6b28aa;">
                <a href='/home' class='topnav-icons fa fa-home w3-left w3-bar-item w3-button' style="font-size:x-large; color:aliceblue; position:absolute;z-index:4;left:52px;height:44px; font-size: xx-large; " title='Home'></a>
                <a class="w3-bar-item w3-button" href='/team' title='Team' style="padding-left:30px!important;padding-right:18px!important;position:absolute;z-index:4;right:200px;height:44px; font-size:x-large; color:aliceblue; font-family:Josefin Sans;">Team</a>
                <a class="w3-bar-item w3-button" href='/dashboard' style="font-size:x-large; color:aliceblue; position:absolute;z-index:4;right:52px;height:44px; font-family:Josefin Sans;" title='Dashboard'>Dashboard</a>
          </div>
          </div>
        </div>

     <!-- ******************************************* -->
     <!-- Connecting the pages -->
     <!-- ******************************************* -->
     


    <!-- ******************************************* -->
    <!-- About Company -->
    <!-- ******************************************* -->
    <div class="container-fluid" id="about">
      <div class="row">
        <div class=" about-me-pic" style="margin-left: 10px;">
            <img style="float:left; height:450px" class="img-responsive" src="/static/images/Image1.png">
        </div>
        <div class="col-md-6 about-me text-center" style="position:static; color: #6b28aa; margin-top: 120px; margin-left: 120px; font-family:Josefin Sans">
          <p class="name-title" style="font-size:30px; font-weight: lighter;">Objection.co is a reputation tech platform that uses web crawlers to identify and dispute illegitimate online reviews. 
              Our bots flag and submit removal requests to administrators on most major review websites. 
          </p>
        <a class="btn btn btn-light about-button" href="https://objection.co" role="button" style="background-color: #6b28aa; color:aliceblue; font-size: 20px; margin-top: 10px;">Learn More</a>
        </div>
      </div>

        <div class="container-fluid" id="about">
          <div class="row">
            <div class=" about-me-pic" style="margin-right: 10px; margin-top: 50px;">
                <img style="float:right; height:600px" class="img-responsive" src="/static/images/Image8.png">
            </div>
            <div style="position:static; color: #6b28aa; margin-top: 250px; margin-left: 10px; font-family:Josefin Sans; text-align: center;">
        <h2 style="font-size:40px; font-weight: bold; font-family: Josefin Sans;">'Mission Statement' </h2>
        <p style="font-size:20px; font-weight: lighter;">To identify and dispute illegitimate online reviews in order to protect businesses and consumers against fake reviews. 
          We want to help people make better purchasing decisions and help online marketplaces display more truthful reviews.
        </p>
        </div>
      </div>
    </div>


         <!-- ******************************************* -->
     <!-- Footer -->
     <!-- ******************************************* -->
     <footer>
      <div class="footer">
        <div class="footer-social-icons" >
          <ul class="social-icons">
              <div style="text-align: center; margin-top: 20px; color: #6b28aa; font-family:Josefin Sans">
            <p><strong><span>&copy; 2021 Made by Mohanapriya J Elango</span></strong</p>
            <p><a href="https://www.linkedin.com/in/mohanapriya-jegatheeswaran-elango-4a6860204/" target="_blank" class="social-icon" style ="font-size: 30px; color: #6b28aa;"> <i class="fa fa-linkedin fa-1.5x"></i></a></p>
          </ul>
      </div>
        </div>
    </footer>

   </body>
</html>