<!DOCTYPE html>
<!-- {% for fakereviews in business %}
    {{fake["Review"]}}
{% endfor %} -->
<html>
<head>
    <title>Objection Co</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>
<body>
<br>

<div class="container-fluid" id="about">
  <div class="row">
    <div class=" about-me-pic" style="margin-left: 30px; margin-top: 15px;">
        <img style="float:left; height:700px" class="img-responsive" src="/static/images/Image5.png">
    </div>
    <div class="container-fluid" id="about" style="font-size: xx-large;">
      <div class="row" style= "margin-top: 270px; text-align: center; font-family:Josefin Sans; color: #6b28aa; font-size: large;">
      <h1> Online Reviews Hurting?? </h1>
      <p> Get Experts Help</p>
    <a class="btn btn btn-light about-button" href="/home" role="button" style="background-color:#6b28aa; color:aliceblue; font-size: 20px; margin-top: 10px;">Let's Get Started</a>
              </div> 
          </div>
      </div>
</div>
<br>

<footer>
  <div class="footer">
    <div class="footer-social-icons" >
      <ul class="social-icons">
          <div style="text-align: center;color: #6b28aa; font-family:Josefin Sans">
        <p style="font-size:15px;"><strong><span>&copy; 2021 Made by Mohanapriya J Elango</span></strong</p>
        <p><a href="https://www.linkedin.com/in/mohanapriya-jegatheeswaran-elango-4a6860204/" target="_blank" class="social-icon" style ="font-size: 25px; color: #6b28aa;"> <i class="fa fa-linkedin fa-1.5x"></i></a></p>
      </ul>
  </div>
    </div>
</footer>

</body>
</html>